[submodule ".registry"]
	path = .registry
	url = https://github.com/wlandau-test/wlandau-test.r-universe.dev
	branch = HEAD
[submodule "test"]
	path = test
	url = https://gitlab.com/wlandau/test
	branch = *release
