[submodule ".registry"]
	path = .registry
	url = https://github.com/wlandau-test/wlandau-test.r-universe.dev
	branch = HEAD
[submodule "askpass"]
	path = askpass
	url = https://github.com/r-lib/askpass
	branch = *release
[submodule "test2"]
	path = test2
	url = https://github.com/wlandau-test/test2
	branch = *release
